In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [3]:
students = { "name" : "John", "age": 20, "grade": "A" }
print(students)

{'name': 'John', 'age': 20, 'grade': 'A'}

In [4]:
students["name"] = "Jane"
print(students)

{'name': 'Jane', 'age': 20, 'grade': 'A'}

In [5]:
students.get("name")

'Jane'

In [7]:
print(students.get("last_name"))

None

In [10]:
students['Address'] = "Poland"
print(students)

{'name': 'Jane', 'age': 20, 'grade': 'A', 'Adress': 'Poland', 'Address': 'Poland'}

In [11]:
del students['Adress']

In [12]:
print(students)

{'name': 'Jane', 'age': 20, 'grade': 'A', 'Address': 'Poland'}

In [13]:
keys = students.keys()
print(keys)

dict_keys(['name', 'age', 'grade', 'Address'])

In [14]:
values = students.values()
print(values)
items = students.items()
print(items)

dict_values(['Jane', 20, 'A', 'Poland'])
dict_items([('name', 'Jane'), ('age', 20), ('grade', 'A'), ('Address', 'Poland')])

In [15]:
students_copy = students.copy()
print(students_copy)
students_copy['name'] = "Alice"
print(students_copy)

{'name': 'Jane', 'age': 20, 'grade': 'A', 'Address': 'Poland'}
{'name': 'Alice', 'age': 20, 'grade': 'A', 'Address': 'Poland'}

In [17]:
for key in students.keys():
    print(key)
    
for value in students.values():
    print(value)
for key, value in students.items():
    print(f"{key}: {value}")

name
age
grade
Address
Jane
20
A
Poland
name: Jane
age: 20
grade: A
Address: Poland

In [18]:
numbers = [1,2,2,2,2,3,3,3,4,4,4,4,5,5,5,5]

frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

print(frequency)

{1: 1, 2: 4, 3: 3, 4: 4, 5: 4}